{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is briefly what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Although this blog represents my passion for perfumes, I would like to introduce myself to you.
          I currently work as a Petroleum Production Engineer in Egypt, after working for several years I discovered
          a deeper passion for coding, and creating this blog is a way for me to show my coding skills and my eagerness
          to learn.
        </p>
        <p>
          Besides my passion for perfumes I also love cars, I own a dark-navy Peugeot 508 2022 which is not the most practical
          but indeed it's a nice looking sports car. Above all of that I am a husband and soon to be a father.
        </p>
        <p>
          As I hope for this blog to showcase my skills in coding and my passion for perfumes, I hope it also connects me with
          like-minded people, if you are one of them you can contact me either on social media links in the footer, or through the Contact page.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
